{% extends 'base.html.twig' %}

{% block title %}{{ 'title.meta.category'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.meta.category'|trans }}</h1>
    {{ 'help.resource.category'|trans }}
    <hr/>

    {{ include("moderator/meta/category/tree.html.twig") }}
{#
    {{ tree|raw }}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'label.name'|trans}}</th>
                <th>Lft</th>
                <th>Lvl</th>
                <th>Rgt</th>
                <th>{{'label.actions'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for meta_category in meta_categories %}
            <tr>
                <td>{{ meta_category.id }}</td>
                <td>{{ meta_category.name }}</td>
                <td>{{ meta_category.left }}</td>
                <td>{{ meta_category.level }}</td>
                <td>{{ meta_category.right }}</td>
                <td>
                    <a href="{{ path('moderator_meta_category_show', {'id': meta_category.id}) }}">{{'action.show'|trans}}</a>
                    <a href="{{ path('moderator_meta_category_edit', {'id': meta_category.id}) }}">{{'action.edit'|trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('moderator_meta_category_new') }}">{{'action.create'|trans}}</a>
#}
{% endblock %}
