{% extends 'base.html.twig' %}

{% block title %}MetaCategory{% endblock %}

{% block body %}
    <h1>MetaCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ meta_category.id }}</td>
            </tr>
            <tr>
                <th>{{'label.name'|trans}}</th>
                <td>{{ meta_category.name }}</td>
            </tr>
            <tr>
                <th>Lft</th>
                <td>{{ meta_category.lft }}</td>
            </tr>
            <tr>
                <th>Lvl</th>
                <td>{{ meta_category.lvl }}</td>
            </tr>
            <tr>
                <th>Rgt</th>
                <td>{{ meta_category.rgt }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('moderator_meta_category_index') }}">back to list</a>

    <a href="{{ path('moderator_meta_category_edit', {'id': meta_category.id}) }}">{{'action.edit'|trans}}</a>

    {{ include('meta_category/_delete_form.html.twig') }}
{% endblock %}
