{% extends 'base.html.twig' %}

{% block title %}UserAccess{% endblock %}

{% block body %}
    <h1>UserAccess</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_access.id }}</td>
            </tr>
            <tr>
                <th>{{'label.name'|trans}}</th>
                <td>{{ user_access.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_acl_user_access_index') }}">back to list</a>

    <a href="{{ path('admin_acl_user_access_edit', {'id': user_access.id}) }}">{{'action.edit'|trans}}</a>

    {{ include('admin/acl/user_access/_delete_form.html.twig') }}
{% endblock %}
