{% extends 'base.html.twig' %}

{% block title %}ResourcePurpose index{% endblock %}

{% block body %}
    <h1>ResourcePurpose index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for resource_purpose in resource_purposes %}
            <tr>
                <td>{{ resource_purpose.id }}</td>
                <td>{{ resource_purpose.name }}</td>
                <td>
                    <a href="{{ path('resource_purpose_show', {'id': resource_purpose.id}) }}">show</a>
                    <a href="{{ path('resource_purpose_edit', {'id': resource_purpose.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('resource_purpose_new') }}">Create new</a>
{% endblock %}
