{% extends 'base.html.twig' %}

{% block title %}ResourcePurpose{% endblock %}

{% block body %}
    <h1>ResourcePurpose</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ resource_purpose.id }}</td>
            </tr>
            <tr>
                <th>{{'label.name'|trans}}</th>
                <td>{{ resource_purpose.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('moderator_meta_purpose_index') }}">back to list</a>

    <a href="{{ path('moderator_meta_purpose_edit', {'id': resource_purpose.id}) }}">{{'action.edit'|trans}}</a>

    {{ include('moderator/meta/purpose/_delete_form.html.twig') }}
{% endblock %}
