{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_resource_new' %}

{% block main %}
    <h1>{{ 'title.resource.new'|trans }}</h1>

    {% include 'admin/resource/drug-and-drop.html.twig' %}

    <a href="{{ path('admin_resource_index') }}" class="btn btn-link">
        <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
    </a>

{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ (_self) }}
{% endblock %}
