{% extends 'base.html.twig' %}

{% block title %}{{ 'title.meta.document_type'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.meta.document_type'|trans }}</h1>
    {{ 'help.resource.document_type'|trans }}
    <hr/>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'label.name'|trans}}</th>
                <th>{{'label.actions'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for resource_document_type in resource_document_types %}
            <tr>
                <td>{{ resource_document_type.id }}</td>
                <td>{{ resource_document_type.name }}</td>
                <td>
                    <a href="{{ path('moderator_meta_document_type_show', {'id': resource_document_type.id}) }}">{{'action.show'|trans}}</a>
                    <a href="{{ path('moderator_meta_document_type_edit', {'id': resource_document_type.id}) }}">{{'action.edit'|trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('moderator_meta_document_type_new') }}">{{'action.create'|trans}}</a>
{% endblock %}
