{% extends 'base.html.twig' %}

{% block title %}ResourceMediaType{% endblock %}

{% block body %}
    <h1>ResourceMediaType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ moderator_meta_media_type.id }}</td>
            </tr>
            <tr>
                <th>{{'label.name'|trans}}</th>
                <td>{{ moderator_meta_media_type.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('moderator_meta_media_type_index') }}">back to list</a>

    <a href="{{ path('moderator_meta_media_type_edit', {'id': moderator_meta_media_type.id}) }}">{{'action.edit'|trans}}</a>

    {{ include('moderator/meta/moderator_meta_media_type/_delete_form.html.twig') }}
{% endblock %}
