{% extends 'base.html.twig' %}

{% block title %}UserGroup index{% endblock %}

{% block body %}
    <h1>UserGroup index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>{{ 'label.name'|trans }}</th>
            <th>{{ 'label.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for user_group in user_groups %}
            <tr>
                <td>{{ user_group.id }}</td>
                <td>{{ user_group.name }}<br>
                    {% for item in user_group.documentTypes %}
                        <span class="badge badge-info">{{ item }}</span>
                    {% endfor %}</td>
                <td>
                    <a href="{{ path('admin_acl_user_group_show', {'id': user_group.id}) }}">{{ 'action.show'|trans }}</a>
                    <a href="{{ path('admin_acl_user_group_edit', {'id': user_group.id}) }}">{{ 'action.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_acl_user_group_new') }}">{{ 'action.create'|trans }}</a>
{% endblock %}
