{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/search') }}
{% endblock %}

{% block body_id 'resource_search' %}

{% block main %}
    <form action="{{ path('resource_quick_search') }}" method="get">
        <div class="form-group">
            <input name="q"
                   class="form-control search-field"
                   placeholder="{{ 'resource.search_for'|trans }}"
                   autocomplete="off"
                   autofocus
                   data-no-results-message="{{ 'resource.search_no_results'|trans }}"
            >
        </div>
    </form>

    {{ form(form) }}

    <label>
<textarea>
{{ json }}
</textarea>
    </label>

    {% for item in list %}
        <article class="item">
            <h2>
                <a href="{{ path('resource_item', {id: item.id}) }}">
                    {{ item.title }}
                </a>
            </h2>

            <p class="item-metadata">
                <span class="metadata"><i class="fa fa-calendar"></i> {{ item.createdAt|localizeddate('long', 'medium', null, 'UTC') }}</span>
                <span class="metadata"><i class="fa fa-user"></i> {{ item.author.fullName }}</span>
            </p>

            <p>{{ item.annotation }}</p>

            {{ include('resource/_item_keywords.html.twig') }}
        </article>
    {% else %}
        <div class="well">{{ 'resource.no_list_found'|trans }}</div>
    {% endfor %}


    <div id="results">
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
