{% extends 'base.html.twig' %}

{% block body_id 'admin_resource_edit' %}

{% block main %}
    <h1>{{ 'title.resource.edit'|trans({'%id%': item.id}) }}</h1>

    {{ form(form) }}

    <a href="{{ path('admin_meta_access_level_index') }}" class="btn btn-link">
        <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
    </a>

{% endblock %}

{% block sidebar %}

    {{ parent() }}

    {{ (_self) }}
{% endblock %}
