{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
    {% for item in list %}
        <article class="item">
            <h2>
                <a href="{{ path('resource_item', {id: item.id}) }}">
                    {{ item.title }}
                </a>
            </h2>

            <p class="item-metadata">
                <span class="metadata"><i class="fa fa-calendar"></i> {{ item.createdAt|localizeddate('long', 'medium', null, 'UTC') }}</span>
                <span class="metadata"><i class="fa fa-user"></i> {{ item.author.fullName }}</span>
            </p>

            <p>{{ item.annotation }}</p>

            {{ include('user/resource/_item_keywords.html.twig') }}
        </article>
    {% else %}
        <div class="well">{{ 'resource.no_list_found'|trans }}</div>
    {% endfor %}

    {% if list.haveToPaginate %}
        <div class="navigation text-center">
            {{ pagerfanta(list, 'twitter_bootstrap3_translated', {routeName: 'resource_index_paginated', routeParams: app.request.query.all}) }}
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ (_self) }}
    {{ include('_rss.html.twig') }}
{% endblock %}
